body {
  margin: 0;
  font-family: 'Graphik Web', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Graphik Web;
  src: url('/src/assets/fonts/Graphik-Extralight-Web.woff2');
  font-weight: 200;
}
@font-face {
  font-family: Graphik Web;
  src: url('/src/assets/fonts/Graphik-Light-Web.woff2');
  font-weight: 300;
}
@font-face {
  font-family: Graphik Web;
  src: url('/src/assets/fonts/Graphik-Regular-Web.woff2');
  font-weight: 400;
}
@font-face {
  font-family: Graphik Web;
  src: url('/src/assets/fonts/Graphik-Medium-Web.woff2');
  font-weight: 500;
}
@font-face {
  font-family: Graphik Web;
  src: url('/src/assets/fonts/Graphik-Semibold-Web.woff2');
  font-weight: 600;
}
@font-face {
  font-family: Graphik Web;
  src: url('/src/assets/fonts/Graphik-Bold-Web.woff2');
  font-weight: 700;
}


code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;